/* remove vite default styles */
html, body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "AmsterdamThree";
  src: url("./assets/fonts/AmsterdamThree.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-4px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.25s ease-out;
}

