/* remove vite default styles */
html, body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "AmsterdamThree";
  src: url("./assets/fonts/AmsterdamThree.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@keyframes draw {
  0% {
    stroke-dasharray: 0 100;
    opacity: 0;
  }
  50% {
    stroke-dasharray: 50 100;
    opacity: 1;
  }
  100% {
    stroke-dasharray: 100 0;
    opacity: 1;
  }
}

.animate-draw {
  stroke-dasharray: 100;
  stroke-dashoffset: 0;
  animation: draw 2s ease-in-out infinite;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-4px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.25s ease-out;
}

.animate-fadeIn {
  animation: fadeIn 0.35s ease-out;
}

